.root {
    border: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: transparent;
}

.filled {
    fill: red;
}

.filled:hover {
    filter: opacity(0.8);
}

.outlined:hover {
    fill: red;
}